
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<p>#1 Profilim</p>
<p><del>#2 Tüm Başlıklarda Sayfalama</del></p>
<p>#3 Mesajlarda session işlemi</p>
<p>#4 Oturum Yönetiminin Mimariye taşınması</p>
<p>#5 TOKEN KULLANIMI</p>