
@{
    ViewBag.Title = "Test2";
    Layout = "~/Views/Shared/_Deneme.cshtml";
}

<h2>Test2</h2>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<button class="btn btn-success" id="btn1">as</button>
<script>
    $('#btn1').click(function () {
        swal("Silmek İstediğinize Emnmisiniz");
    });
</script>
